<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateStoresHasProductsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateStoresHasProductsLabel_storesHasProductsPK_sequence}" for="storesHasProductsPK_sequence" />
                    <h:inputText id="storesHasProductsPK_sequence" value="#{storesHasProductsController.selected.storesHasProductsPK.sequence}" title="#{bundle.CreateStoresHasProductsTitle_storesHasProductsPK_sequence}" required="true" requiredMessage="#{bundle.CreateStoresHasProductsRequiredMessage_storesHasProductsPK_sequence}"/>
                    <h:outputLabel value="#{bundle.CreateStoresHasProductsLabel_acquiredPrice}" for="acquiredPrice" />
                    <h:inputText id="acquiredPrice" value="#{storesHasProductsController.selected.acquiredPrice}" title="#{bundle.CreateStoresHasProductsTitle_acquiredPrice}" required="true" requiredMessage="#{bundle.CreateStoresHasProductsRequiredMessage_acquiredPrice}"/>
                    <h:outputLabel value="#{bundle.CreateStoresHasProductsLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{storesHasProductsController.selected.quantity}" title="#{bundle.CreateStoresHasProductsTitle_quantity}" required="true" requiredMessage="#{bundle.CreateStoresHasProductsRequiredMessage_quantity}"/>
                    <h:outputLabel value="#{bundle.CreateStoresHasProductsLabel_products}" for="products" />
                    <h:selectOneMenu id="products" value="#{storesHasProductsController.selected.products}" title="#{bundle.CreateStoresHasProductsTitle_products}" required="true" requiredMessage="#{bundle.CreateStoresHasProductsRequiredMessage_products}">
                        <f:selectItems value="#{productsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateStoresHasProductsLabel_stores}" for="stores" />
                    <h:selectOneMenu id="stores" value="#{storesHasProductsController.selected.stores}" title="#{bundle.CreateStoresHasProductsTitle_stores}" required="true" requiredMessage="#{bundle.CreateStoresHasProductsRequiredMessage_stores}">
                        <f:selectItems value="#{storesController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{storesHasProductsController.create}" value="#{bundle.CreateStoresHasProductsSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{storesHasProductsController.prepareList}" value="#{bundle.CreateStoresHasProductsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateStoresHasProductsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
