<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditStoresHasProductsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditStoresHasProductsLabel_storesHasProductsPK_sequence}" for="storesHasProductsPK_sequence" />
                    <h:inputText id="storesHasProductsPK_sequence" value="#{storesHasProductsController.selected.storesHasProductsPK.sequence}" title="#{bundle.EditStoresHasProductsTitle_storesHasProductsPK_sequence}" required="true" requiredMessage="#{bundle.EditStoresHasProductsRequiredMessage_storesHasProductsPK_sequence}"/>
                    <h:outputLabel value="#{bundle.EditStoresHasProductsLabel_acquiredPrice}" for="acquiredPrice" />
                    <h:inputText id="acquiredPrice" value="#{storesHasProductsController.selected.acquiredPrice}" title="#{bundle.EditStoresHasProductsTitle_acquiredPrice}" required="true" requiredMessage="#{bundle.EditStoresHasProductsRequiredMessage_acquiredPrice}"/>
                    <h:outputLabel value="#{bundle.EditStoresHasProductsLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{storesHasProductsController.selected.quantity}" title="#{bundle.EditStoresHasProductsTitle_quantity}" required="true" requiredMessage="#{bundle.EditStoresHasProductsRequiredMessage_quantity}"/>
                    <h:outputLabel value="#{bundle.EditStoresHasProductsLabel_products}" for="products" />
                    <h:selectOneMenu id="products" value="#{storesHasProductsController.selected.products}" title="#{bundle.EditStoresHasProductsTitle_products}" required="true" requiredMessage="#{bundle.EditStoresHasProductsRequiredMessage_products}">
                        <f:selectItems value="#{productsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditStoresHasProductsLabel_stores}" for="stores" />
                    <h:selectOneMenu id="stores" value="#{storesHasProductsController.selected.stores}" title="#{bundle.EditStoresHasProductsTitle_stores}" required="true" requiredMessage="#{bundle.EditStoresHasProductsRequiredMessage_stores}">
                        <f:selectItems value="#{storesController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{storesHasProductsController.update}" value="#{bundle.EditStoresHasProductsSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditStoresHasProductsViewLink}"/>
                <br />
                <h:commandLink action="#{storesHasProductsController.prepareList}" value="#{bundle.EditStoresHasProductsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditStoresHasProductsIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
