<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListStoresHasProductsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListStoresHasProductsEmpty}" rendered="#{storesHasProductsController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{storesHasProductsController.items.rowCount > 0}">
                    <h:outputText value="#{storesHasProductsController.pagination.pageFirstItem + 1}..#{storesHasProductsController.pagination.pageLastItem + 1}/#{storesHasProductsController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{storesHasProductsController.previous}" value="#{bundle.Previous} #{storesHasProductsController.pagination.pageSize}" rendered="#{storesHasProductsController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{storesHasProductsController.next}" value="#{bundle.Next} #{storesHasProductsController.pagination.pageSize}" rendered="#{storesHasProductsController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{storesHasProductsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStoresHasProductsTitle_storesHasProductsPK_sequence}"/>
                            </f:facet>
                            <h:outputText value="#{item.storesHasProductsPK.sequence}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStoresHasProductsTitle_acquiredPrice}"/>
                            </f:facet>
                            <h:outputText value="#{item.acquiredPrice}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStoresHasProductsTitle_quantity}"/>
                            </f:facet>
                            <h:outputText value="#{item.quantity}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStoresHasProductsTitle_products}"/>
                            </f:facet>
                            <h:outputText value="#{item.products}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStoresHasProductsTitle_stores}"/>
                            </f:facet>
                            <h:outputText value="#{item.stores}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{storesHasProductsController.prepareView}" value="#{bundle.ListStoresHasProductsViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{storesHasProductsController.prepareEdit}" value="#{bundle.ListStoresHasProductsEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{storesHasProductsController.destroy}" value="#{bundle.ListStoresHasProductsDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{storesHasProductsController.prepareCreate}" value="#{bundle.ListStoresHasProductsCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListStoresHasProductsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
