<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewStoresHasProductsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewStoresHasProductsLabel_storesHasProductsPK_sequence}"/>
                    <h:outputText value="#{storesHasProductsController.selected.storesHasProductsPK.sequence}" title="#{bundle.ViewStoresHasProductsTitle_storesHasProductsPK_sequence}"/>
                    <h:outputText value="#{bundle.ViewStoresHasProductsLabel_acquiredPrice}"/>
                    <h:outputText value="#{storesHasProductsController.selected.acquiredPrice}" title="#{bundle.ViewStoresHasProductsTitle_acquiredPrice}"/>
                    <h:outputText value="#{bundle.ViewStoresHasProductsLabel_quantity}"/>
                    <h:outputText value="#{storesHasProductsController.selected.quantity}" title="#{bundle.ViewStoresHasProductsTitle_quantity}"/>
                    <h:outputText value="#{bundle.ViewStoresHasProductsLabel_products}"/>
                    <h:outputText value="#{storesHasProductsController.selected.products}" title="#{bundle.ViewStoresHasProductsTitle_products}"/>
                    <h:outputText value="#{bundle.ViewStoresHasProductsLabel_stores}"/>
                    <h:outputText value="#{storesHasProductsController.selected.stores}" title="#{bundle.ViewStoresHasProductsTitle_stores}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{storesHasProductsController.destroyAndView}" value="#{bundle.ViewStoresHasProductsDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewStoresHasProductsEditLink}"/>
                <br />
                <h:commandLink action="#{storesHasProductsController.prepareCreate}" value="#{bundle.ViewStoresHasProductsCreateLink}" />
                <br />
                <h:commandLink action="#{storesHasProductsController.prepareList}" value="#{bundle.ViewStoresHasProductsShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewStoresHasProductsIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
