<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditStoresTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditStoresLabel_storeName}" for="storeName" />
                    <h:inputText id="storeName" value="#{storesController.selected.storeName}" title="#{bundle.EditStoresTitle_storeName}" required="true" requiredMessage="#{bundle.EditStoresRequiredMessage_storeName}"/>
                    <h:outputLabel value="#{bundle.EditStoresLabel_description}" for="description" />
                    <h:inputText id="description" value="#{storesController.selected.description}" title="#{bundle.EditStoresTitle_description}" required="true" requiredMessage="#{bundle.EditStoresRequiredMessage_description}"/>
                </h:panelGrid>
                <h:commandLink action="#{storesController.update}" value="#{bundle.EditStoresSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditStoresViewLink}"/>
                <br />
                <h:commandLink action="#{storesController.prepareList}" value="#{bundle.EditStoresShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditStoresIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
