<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListStoresTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListStoresEmpty}" rendered="#{storesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{storesController.items.rowCount > 0}">
                    <h:outputText value="#{storesController.pagination.pageFirstItem + 1}..#{storesController.pagination.pageLastItem + 1}/#{storesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{storesController.previous}" value="#{bundle.Previous} #{storesController.pagination.pageSize}" rendered="#{storesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{storesController.next}" value="#{bundle.Next} #{storesController.pagination.pageSize}" rendered="#{storesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{storesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStoresTitle_storeName}"/>
                            </f:facet>
                            <h:outputText value="#{item.storeName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStoresTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{storesController.prepareView}" value="#{bundle.ListStoresViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{storesController.prepareEdit}" value="#{bundle.ListStoresEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{storesController.destroy}" value="#{bundle.ListStoresDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{storesController.prepareCreate}" value="#{bundle.ListStoresCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListStoresIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
