<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewStoresTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewStoresLabel_storeName}"/>
                    <h:outputText value="#{storesController.selected.storeName}" title="#{bundle.ViewStoresTitle_storeName}"/>
                    <h:outputText value="#{bundle.ViewStoresLabel_description}"/>
                    <h:outputText value="#{storesController.selected.description}" title="#{bundle.ViewStoresTitle_description}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{storesController.destroyAndView}" value="#{bundle.ViewStoresDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewStoresEditLink}"/>
                <br />
                <h:commandLink action="#{storesController.prepareCreate}" value="#{bundle.ViewStoresCreateLink}" />
                <br />
                <h:commandLink action="#{storesController.prepareList}" value="#{bundle.ViewStoresShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewStoresIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
