<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateProductsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateProductsLabel_productsPK_product}" for="productsPK_product" />
                    <h:inputText id="productsPK_product" value="#{productsController.selected.productsPK.product}" title="#{bundle.CreateProductsTitle_productsPK_product}" required="true" requiredMessage="#{bundle.CreateProductsRequiredMessage_productsPK_product}"/>
                    <h:outputLabel value="#{bundle.CreateProductsLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{productsController.selected.quantity}" title="#{bundle.CreateProductsTitle_quantity}" required="true" requiredMessage="#{bundle.CreateProductsRequiredMessage_quantity}"/>
                    <h:outputLabel value="#{bundle.CreateProductsLabel_price}" for="price" />
                    <h:inputText id="price" value="#{productsController.selected.price}" title="#{bundle.CreateProductsTitle_price}" required="true" requiredMessage="#{bundle.CreateProductsRequiredMessage_price}"/>
                    <h:outputLabel value="#{bundle.CreateProductsLabel_type}" for="type" />
                    <h:inputText id="type" value="#{productsController.selected.type}" title="#{bundle.CreateProductsTitle_type}" required="true" requiredMessage="#{bundle.CreateProductsRequiredMessage_type}"/>
                    <h:outputLabel value="#{bundle.CreateProductsLabel_industry}" for="industry" />
                    <h:inputText id="industry" value="#{productsController.selected.industry}" title="#{bundle.CreateProductsTitle_industry}" required="true" requiredMessage="#{bundle.CreateProductsRequiredMessage_industry}"/>
                    <h:outputLabel value="#{bundle.CreateProductsLabel_origin}" for="origin" />
                    <h:inputText id="origin" value="#{productsController.selected.origin}" title="#{bundle.CreateProductsTitle_origin}" required="true" requiredMessage="#{bundle.CreateProductsRequiredMessage_origin}"/>
                    <h:outputLabel value="#{bundle.CreateProductsLabel_files}" for="files" />
                    <h:selectOneMenu id="files" value="#{productsController.selected.files}" title="#{bundle.CreateProductsTitle_files}" required="true" requiredMessage="#{bundle.CreateProductsRequiredMessage_files}">
                        <f:selectItems value="#{filesController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{productsController.create}" value="#{bundle.CreateProductsSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{productsController.prepareList}" value="#{bundle.CreateProductsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateProductsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
