<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditProductsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditProductsLabel_productsPK_product}" for="productsPK_product" />
                    <h:inputText id="productsPK_product" value="#{productsController.selected.productsPK.product}" title="#{bundle.EditProductsTitle_productsPK_product}" required="true" requiredMessage="#{bundle.EditProductsRequiredMessage_productsPK_product}"/>
                    <h:outputLabel value="#{bundle.EditProductsLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{productsController.selected.quantity}" title="#{bundle.EditProductsTitle_quantity}" required="true" requiredMessage="#{bundle.EditProductsRequiredMessage_quantity}"/>
                    <h:outputLabel value="#{bundle.EditProductsLabel_price}" for="price" />
                    <h:inputText id="price" value="#{productsController.selected.price}" title="#{bundle.EditProductsTitle_price}" required="true" requiredMessage="#{bundle.EditProductsRequiredMessage_price}"/>
                    <h:outputLabel value="#{bundle.EditProductsLabel_type}" for="type" />
                    <h:inputText id="type" value="#{productsController.selected.type}" title="#{bundle.EditProductsTitle_type}" required="true" requiredMessage="#{bundle.EditProductsRequiredMessage_type}"/>
                    <h:outputLabel value="#{bundle.EditProductsLabel_industry}" for="industry" />
                    <h:inputText id="industry" value="#{productsController.selected.industry}" title="#{bundle.EditProductsTitle_industry}" required="true" requiredMessage="#{bundle.EditProductsRequiredMessage_industry}"/>
                    <h:outputLabel value="#{bundle.EditProductsLabel_origin}" for="origin" />
                    <h:inputText id="origin" value="#{productsController.selected.origin}" title="#{bundle.EditProductsTitle_origin}" required="true" requiredMessage="#{bundle.EditProductsRequiredMessage_origin}"/>
                    <h:outputLabel value="#{bundle.EditProductsLabel_files}" for="files" />
                    <h:selectOneMenu id="files" value="#{productsController.selected.files}" title="#{bundle.EditProductsTitle_files}" required="true" requiredMessage="#{bundle.EditProductsRequiredMessage_files}">
                        <f:selectItems value="#{filesController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{productsController.update}" value="#{bundle.EditProductsSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditProductsViewLink}"/>
                <br />
                <h:commandLink action="#{productsController.prepareList}" value="#{bundle.EditProductsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditProductsIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
