<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListProductsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListProductsEmpty}" rendered="#{productsController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{productsController.items.rowCount > 0}">
                    <h:outputText value="#{productsController.pagination.pageFirstItem + 1}..#{productsController.pagination.pageLastItem + 1}/#{productsController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{productsController.previous}" value="#{bundle.Previous} #{productsController.pagination.pageSize}" rendered="#{productsController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{productsController.next}" value="#{bundle.Next} #{productsController.pagination.pageSize}" rendered="#{productsController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{productsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsTitle_productsPK_product}"/>
                            </f:facet>
                            <h:outputText value="#{item.productsPK.product}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsTitle_quantity}"/>
                            </f:facet>
                            <h:outputText value="#{item.quantity}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsTitle_price}"/>
                            </f:facet>
                            <h:outputText value="#{item.price}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsTitle_type}"/>
                            </f:facet>
                            <h:outputText value="#{item.type}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsTitle_industry}"/>
                            </f:facet>
                            <h:outputText value="#{item.industry}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsTitle_origin}"/>
                            </f:facet>
                            <h:outputText value="#{item.origin}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductsTitle_files}"/>
                            </f:facet>
                            <h:outputText value="#{item.files}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{productsController.prepareView}" value="#{bundle.ListProductsViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{productsController.prepareEdit}" value="#{bundle.ListProductsEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{productsController.destroy}" value="#{bundle.ListProductsDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{productsController.prepareCreate}" value="#{bundle.ListProductsCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListProductsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
