<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewProductsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewProductsLabel_productsPK_product}"/>
                    <h:outputText value="#{productsController.selected.productsPK.product}" title="#{bundle.ViewProductsTitle_productsPK_product}"/>
                    <h:outputText value="#{bundle.ViewProductsLabel_quantity}"/>
                    <h:outputText value="#{productsController.selected.quantity}" title="#{bundle.ViewProductsTitle_quantity}"/>
                    <h:outputText value="#{bundle.ViewProductsLabel_price}"/>
                    <h:outputText value="#{productsController.selected.price}" title="#{bundle.ViewProductsTitle_price}"/>
                    <h:outputText value="#{bundle.ViewProductsLabel_type}"/>
                    <h:outputText value="#{productsController.selected.type}" title="#{bundle.ViewProductsTitle_type}"/>
                    <h:outputText value="#{bundle.ViewProductsLabel_industry}"/>
                    <h:outputText value="#{productsController.selected.industry}" title="#{bundle.ViewProductsTitle_industry}"/>
                    <h:outputText value="#{bundle.ViewProductsLabel_origin}"/>
                    <h:outputText value="#{productsController.selected.origin}" title="#{bundle.ViewProductsTitle_origin}"/>
                    <h:outputText value="#{bundle.ViewProductsLabel_files}"/>
                    <h:outputText value="#{productsController.selected.files}" title="#{bundle.ViewProductsTitle_files}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{productsController.destroyAndView}" value="#{bundle.ViewProductsDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewProductsEditLink}"/>
                <br />
                <h:commandLink action="#{productsController.prepareCreate}" value="#{bundle.ViewProductsCreateLink}" />
                <br />
                <h:commandLink action="#{productsController.prepareList}" value="#{bundle.ViewProductsShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewProductsIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
