<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditFilesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditFilesLabel_fileName}" for="fileName" />
                    <h:inputText id="fileName" value="#{filesController.selected.fileName}" title="#{bundle.EditFilesTitle_fileName}" required="true" requiredMessage="#{bundle.EditFilesRequiredMessage_fileName}"/>
                    <h:outputLabel value="#{bundle.EditFilesLabel_loadTomestamp}" for="loadTomestamp" />
                    <h:inputText id="loadTomestamp" value="#{filesController.selected.loadTomestamp}" title="#{bundle.EditFilesTitle_loadTomestamp}" required="true" requiredMessage="#{bundle.EditFilesRequiredMessage_loadTomestamp}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditFilesLabel_comment}" for="comment" />
                    <h:inputText id="comment" value="#{filesController.selected.comment}" title="#{bundle.EditFilesTitle_comment}" required="true" requiredMessage="#{bundle.EditFilesRequiredMessage_comment}"/>
                </h:panelGrid>
                <h:commandLink action="#{filesController.update}" value="#{bundle.EditFilesSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditFilesViewLink}"/>
                <br />
                <h:commandLink action="#{filesController.prepareList}" value="#{bundle.EditFilesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditFilesIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
