<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListFilesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListFilesEmpty}" rendered="#{filesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{filesController.items.rowCount > 0}">
                    <h:outputText value="#{filesController.pagination.pageFirstItem + 1}..#{filesController.pagination.pageLastItem + 1}/#{filesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{filesController.previous}" value="#{bundle.Previous} #{filesController.pagination.pageSize}" rendered="#{filesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{filesController.next}" value="#{bundle.Next} #{filesController.pagination.pageSize}" rendered="#{filesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{filesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFilesTitle_fileName}"/>
                            </f:facet>
                            <h:outputText value="#{item.fileName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFilesTitle_loadTomestamp}"/>
                            </f:facet>
                            <h:outputText value="#{item.loadTomestamp}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFilesTitle_comment}"/>
                            </f:facet>
                            <h:outputText value="#{item.comment}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{filesController.prepareView}" value="#{bundle.ListFilesViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{filesController.prepareEdit}" value="#{bundle.ListFilesEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{filesController.destroy}" value="#{bundle.ListFilesDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{filesController.prepareCreate}" value="#{bundle.ListFilesCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListFilesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
