<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewFilesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewFilesLabel_fileName}"/>
                    <h:outputText value="#{filesController.selected.fileName}" title="#{bundle.ViewFilesTitle_fileName}"/>
                    <h:outputText value="#{bundle.ViewFilesLabel_loadTomestamp}"/>
                    <h:outputText value="#{filesController.selected.loadTomestamp}" title="#{bundle.ViewFilesTitle_loadTomestamp}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewFilesLabel_comment}"/>
                    <h:outputText value="#{filesController.selected.comment}" title="#{bundle.ViewFilesTitle_comment}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{filesController.destroyAndView}" value="#{bundle.ViewFilesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewFilesEditLink}"/>
                <br />
                <h:commandLink action="#{filesController.prepareCreate}" value="#{bundle.ViewFilesCreateLink}" />
                <br />
                <h:commandLink action="#{filesController.prepareList}" value="#{bundle.ViewFilesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewFilesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
