<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        UBS
        <br />
        <h:link outcome="/jsf/files/List" value="Mostrar Todos Registros de Files "/>
        <br />
        <h:link outcome="/jsf/products/List" value="Mostrar Todos Registros de Products "/>
        <br />
        <h:link outcome="/jsf/stores/List" value="Mostrar Todos Registros de Stores "/>
        <br />
        <h:link outcome="/jsf/storesHasProducts/List" value="Mostrar Todos Registros de StoresHasProducts "/>
    </h:body>




</html>

